# -----------------------------
# Python Cache (IMPORTANT)
# -----------------------------
__pycache__/
*.pyc
*.pyo

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/

# -----------------------------
# PyInstaller Build Outputs
# -----------------------------
dist/
build/
*.spec

# -----------------------------
# Executables
# -----------------------------
*.exe
*.pkg

# -----------------------------
# OS Junk
# -----------------------------
.DS_Store
Thumbs.db
