# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.pyc
*.pyo

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/

# -----------------------------
# PyInstaller Outputs
# -----------------------------
dist/
build/
*.spec

# -----------------------------
# Executables
# -----------------------------
*.exe
*.pkg

# -----------------------------
# OS Junk
# -----------------------------
Thumbs.db
.DS_Store
